language: python
dist: bionic
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
env:
  - STEP=tests
  - STEP=lint

before_script: ./.travis-before-script.sh
install: pip install -r requirements_test.txt && python setup.py develop
script: ./.travis-runs-tests.sh
